<div fxLayout="row">
  <div fxLayoutAlign="start center">
    <div fxFlex="800px" width="100%">
    <!-- <div class="welcome" fxFlex fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">

      <section fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <h1>Activity</h1>
        <mat-icon>directions_bike</mat-icon>
        <p>Stay Active</p>
      </section>

       <section fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <h1>Community</h1> -->
        <!-- <mat-icon>directions_bike</mat-icon> -->
        <!-- <p>Share Your Passion</p>
      </section>

      <section fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <h1>Challenges</h1> -->
        <!-- <mat-icon>directions_bike</mat-icon> -->

        <!-- <p>Never Stop</p>
      </section>

    </div> -->

      <img src="https://images.pexels.com/photos/1449050/pexels-photo-1449050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of a Shiba Inu">
    </div>

    </div>
    <div fxFlex fxLayoutAlign="center center" fxLayoutGap="60px">   
     
       <button mat-raised-button color="primary">
       <a routerLink="/signup">Signup</a></button>
      <button mat-raised-button color="primary">
      <a routerLink="/login">Login</a></button>
  
    </div>


</div>
